:root {
  --clr-neutral: #d3f9d8;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d3f9d8;
  background-color: #2f9e44;
}

body {
  height: 100vh;
}

main {
  min-height: 100%;
  width: clamp(300px, 80vw, 600px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

button {
  max-width: max-content;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: #186327;
  color: var(--clr-neutral);
  text-transform: uppercase;
}